<div class="container-fluid main">
  <div class="row">
    <div class="col">
      <div class="box">
        <div class="row calculator">
          <div class="col-md-6">
            <form [formGroup]="calcForm">
              <div class="bill">
                <label for="billValue">Bill</label>
                <input formControlName="bill"  class="form-control" type="number" id="billValue" placeholder="$"/>
              </div>

              <div>
                <button type="submit" (click)="calcTip(5)"  [disabled]="!calcForm.valid" class="btn btn-percentage m-2">5%</button>
                <button type="submit" (click)="calcTip(10)" [disabled]="!calcForm.valid" class="btn btn-percentage m-2">10%</button>
                <button type="submit" (click)="calcTip(15)" [disabled]="!calcForm.valid" class="btn btn-percentage m-2">15%</button>
                <button type="submit" (click)="calcTip(25)" [disabled]="!calcForm.valid" class="btn btn-percentage m-2">25%</button>
                <button type="submit" (click)="calcTip(50)" [disabled]="!calcForm.valid" class="btn btn-percentage m-2">50%</button>
                
              </div>

              <div class="num-people">
                <label for="people">Number of people</label>
                <input formControlName="persons" name="persons" class="form-control" type="number" id="persons" placeholder="0" />
              </div>
            </form>
          </div>

          <div class="col-md-6">
            <div class="result-box">
              <div class="amount">
                <p>
                  Tip Amount <br />
                  / person
                </p>
                <p id="tip" class="price price-tip">$ 0.00</p>
              </div>

              <div class="amount">
                <p>
                  Total <br />
                  / person
                </p>
                <p id="total" class="price price-total">$ 0.00</p>
              </div>

              <button (click)="reset()" class="btn btn-reset">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
